header {
  background-image: url("../img/pattern.png");
  background-color: lightskyblue;
  height: 120px;
}

/* div contenitore per margini laterali */
.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.logo {
  height: 50%;
  margin-top: 40px;
}

h1 {
  margin-bottom: 0;
}

h4, h5 {
  color: gray;
  margin: 0;
}

#autore {
  color: lightseagreen;
}

