header {
  background-image: url("../img/pattern.png");
  background-color: lightskyblue;
  height: 120px;
}

/* div contenitore per margini laterali */
.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.logo {
  height: 50%;
  margin-top: 40px;
}

h1 {
  margin-bottom: 0;
}

h4, h5 {
  color: gray;
  margin: 0;
}

#autore {
  color: #20a9e5;
}

ul {
  padding-left: 15px;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #20a9e5;
  color: white;
  text-align: left;
}

#col-width {
  width: 50%;
}

.blue-row {
  background-color: lightblue;
}